/* VARIABLES */

:root {
    --primary-color: #717171;
    --primary-color-half: #71717184;
    --home-color: #717171;
    --secondary-color: #393939;
    --font-color: #bbb;
    --bg-color: #000;
    --heading-color: rgba(255, 255, 255, 0.05);
    --card-bg-color: rgba(20, 20, 20, 0.6);
    --loader-bg-color: #151515;
    --scroll-bg-color: #0f0f0f;
    --scroll-fg-color: #272727;
    --moon: none;
    --sun: block;
    --invert: invert(100%);
    --dark-image: 0.8;
}

/* YEET */

.mainBod::before {
    background-image: url("/images/under-bck.gif");
    opacity: 0.6;
}
